body {
    margin: 0;
    font-family: 'crimson-text';
  }
  h1{
    font-family: 'lato';
  }
  
.navbar{
  display: flex;
  font-family: 'lato',sans-serif;
  background-color: rgb(53, 55, 75);
  padding-bottom: 10px;
}

#nav-heading{
 
  font-size: large;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
  
  
  
}


#nav-list{
  display: flex;
  font-family:'crimson text' ;
font-size: large;

padding-top: 10px;
margin-left: auto;
gap: 20px;
padding-right: 16px;
color:white;


}


  .dissapiar{
    display: none;
  }
  #hero{
    margin-top:16px ;
    padding-top: 30px;
    font-family: 'crimson text',sans-serif;
    background-image: url('merged-triangle.png');
    background-size: cover;
    
    height: 400px;
    padding-left: 30px;

  }
  #name{
    font-size: x-large;
    color: white;
  }
  #intro{
    display: flex;
    font-size: large;
    color:white;
    text-align: left;
    width: 100%;

  }
  #intro-sentence{
    width: 50%;
  }
  #my-picture-div{ 
    height: 120px;
    width: 50%;   
    padding-left: 30px;
    padding-top: 20px;
    
  }
  #my-image{
    height: 120px;
    border-radius: 20px;
  }
  

  button{
    display: inline-block;
    padding: 8px 10px; /* Adjust padding as needed for your design */
    font-size: 16px; /* Adjust font size as needed for your design */
    text-align: center;
    text-decoration: none;
    border: 2px solid #333; /* Example border style */
    border-radius: 5px; /* Example border radius */
    color: white; /* Example text color */
    background-color: rgb(53, 55, 75); /* Example background color */
    cursor: pointer;
    
    
  }
  button:hover{
    background-color: rgb(52,73,85)
  }
  #download-cv{
    padding-left:20px ;
    font-size: large;
    color: white;
  }

@media screen and (min-width: 700px){
  #menu-icon{
    display:none;
  }

  .dissapiar{
    display: block;
  }

  #hero{
    justify-content: center;
    max-width: 800px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

}





  